.text-title,
.text-description {
  display: block;
  font-size: 1.5em;
}

.text-description {
  margin-top: 32px;
}

.input-title,
.input-description {
  display: block;
  width: 100%;
  border-radius: 8px;
  border-color: transparent;
  margin-top: 12px;
  padding: 8px;
}

.input-description {
  height: 200px;
}
body {
  padding: 10%;
}

title {
  display: inline-block;
}

header {
  display: block;
  text-align: center;
  width: 100%;
}

.note-button {
  display: block;
  margin-top: 24px;
  padding: 10px;
  background-color: #8833ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.note-button:disabled {
  background-color: #7f7a87;
}

.note-list {
  margin-top: 0px;
  border-radius: 12px;
  border-color: violet;
}

.note-item {
  border-radius: 12px;
  border-color: violet;
  margin-top: 12px;
}
